@import 'normalize';

$white: #FFFFFF;
$light-grey: #C7C7C7;
$light-border-grey: #E0E0E5;
$dark-grey: #191919;
$black: #000000;
$highlight: #7BBD79;

// Global //

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: $white;
  background-color: $black;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 400;
  line-height: .9em;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $white;
}

section {
  h1 {
    font-size: 2.7em;
    font-weight: 500;
    color: $light-grey;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
}

.title {
  margin: 25px 0px;
  width: 100%;
}

// Main Home Page
header {
  background: linear-gradient(rgba(9, 9, 9, 0.82), rgba(9, 9, 9, 0.82)), url(../img/mixingboard.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  .fa {
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.4);
    }
  }
}

// Credits
#credits {
  background-color: $dark-grey;
  img {
    max-width: 80%;
    margin: 10px
  }
  .album {
    text-align: center;
    h4 {
      font-size: 1.1em;
      margin: .3em;
    }
    p {
      font-size: 1em;
      margin: 1em;
    }
  }
}

// Contact
#contact {
  margin-bottom: 50px;
  input {
    height: 50px;
  }
  input, textarea {
    box-sizing: border-box;
    min-width: 260px;
    display: block;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid $light-border-grey;
    border-radius: 3px;
    resize: none;
  }
  input[type=button],input[type=submit], input[type=reset] {
    display: block;
    background-color: $highlight;
    color: $white;
    text-decoration:none;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    &:hover {
      background-color: lighten($highlight, 5%);
    }
  }
}

footer {
  box-sizing: border-box;
  background-color: $black;
  height: 125px;
  border-top: 1px solid $dark-grey;
  padding: 50px;
  font-size: .5em;
  text-align: left;
}


// Desktop
//

// h1 {
//     font-size: 2.0em;
// }
// h2 {
//     font-size: 2.0em;
// }

// #credits{
  // h1{
  //   font-size: 2.7em;
  // }
// }
